
@layer page {
	.devlog-post {
		container-type: inline-size;

		> img {
			max-width: 100%;
			aspect-ratio: 32 / 9;
			border-radius: var(--round);
			box-shadow: var(--box-shadow);
			background: #0004;
		}

		.plate {
			display: flex;
			flex-direction: column;
			padding: var(--space);
			gap: calc(var(--space) * 3);

			[x-tags] {
				padding-bottom: var(--pad);
			}

			[x-author] {
				flex-direction: row;
				justify-content: center;
				order: 0;

				> img {
					width: 4em;
					height: 4em;
				}

				> div {
					display: flex;
					flex-direction: column;
					align-items: start;

					> time {
						align-items: start;
					}
				}
			}

			.content {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				gap: var(--pad);

				> div {
					display: flex;
					flex-direction: column;
					gap: var(--pad);
				}
			}

			@container (width > 40em) {
				flex-direction: row;

				[x-author] {
					order: 0;
					flex: 0 1 auto;
					width: auto;
					flex-direction: column;
					justify-content: start;

					> img {
						width: 5em;
						height: 5em;
					}

					> div {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: var(--pad);

						> time {
							align-items: center;
						}
					}
				}
			}
		}
	}
}

