
@layer page {
	.devlog-post {
		> img {
			max-width: 100%;
			border-radius: var(--round);
			box-shadow: var(--box-shadow);
		}

		> header {
			display: flex;
			align-items: center;
			flex-wrap: wrap-reverse;
			padding: var(--space);

			.lead {
				flex: 1 1 20em;
			}

			[x-author] {
				order: 2;
				flex-direction: row;
				width: auto;

				> img {
					width: 5em;
					height: 5em;
				}

				> div {
					> time {
						align-items: start;
					}
				}
			}
		}

		> section {
			padding: var(--space);
		}
		
		h1 {
			font-size: 2.5em;
			color: var(--intense);
		}

		h2 {
			font-size: 1.5em;
			color: var(--prime);
		}
	}
}

