
@layer page {
	.devlog-index {
		container-type: inline-size;

		display: flex;
		flex-direction: column;
		gap: var(--space);

		&::before, &::after {
			content: "";
			flex: 1 1 auto;
		}

		&::after { flex: 3 1 auto; }

		article {
			display: flex;
			flex-wrap: wrap;
		}

		[x-author] {
			padding: 0 var(--pad);
			padding-bottom: var(--pad);

			> div {
				flex: 1 0 auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: var(--pad);
			}
		}

		section {
			flex: 1 1 20em;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: var(--space);

			min-height: calc(100cqw * 9 / 32);
			height: auto;
			padding: var(--space);

			background: #0006;
			border-radius: var(--round);
			box-shadow: var(--box-shadow);
			border-top: var(--border);

			header {
				display: flex;
				flex-direction: column;
				align-items: start;

				h2 {
					color: var(--intense);
					font-size: 1.5em;
					a { color: inherit; }
				}

				p {
					font-size: 1em;
				}

				:is(h2, p) {
					display: inline;
					background: #0004;
					backdrop-filter: blur(var(--blur));
					padding: 0.1rem 0.5rem;
					border-radius: 0.3rem;
					box-decoration-break: clone;
					-webkit-box-decoration-break: clone;
				}
			}

			footer {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: end;
				gap: var(--space);

				.tags {
					opacity: 0.8;
					list-style: none;
					display: flex;
					flex-wrap: wrap;
					gap: var(--pad);

					> li {
						border-radius: 2em;
						border: var(--border);
						padding: 0.1em 0.4em;
					}
				}
			}
		}

		@container (width > 50em) {
			.posts {
				gap: var(--space);
			}

			article {
				gap: var(--space);

				> article {
					h2 { font-size: 2em; }
					p { font-size: 1.2em; }
				}
			}

			[x-author] {
				width: auto;
				flex-direction: column;
				padding-bottom: 0;

				> img {
					width: 5em;
					height: 5em;
				}

				> div {
					flex: 0 0 auto;
					flex-direction: column;
					> time {
						align-items: center;
						margin: unset;
					}
				}
			}

			article:not(:last-of-type) [x-author]::after {
				content: "";
				display: block;
				flex: 1 1 auto;
				border-right: 3px solid var(--line);
			}
		}
	}
}

