
@layer app {
	.gamelist {
		display: flex;
		flex-direction: column;
		gap: var(--benev-space);

		&::before, &::after {
			content: "";
			flex: 1 1 auto;
		}

		&::after { flex: 3 1 auto; }
	}

	.game {
		display: flex;
		flex-wrap: wrap;
		gap: var(--benev-space);

		padding: clamp(var(--benev-space), 5dvw, 6em);

		background: #0004;
		border: var(--benev-border);
		border-radius: var(--benev-round);
		box-shadow: var(--benev-box-shadow);

		> * {
			flex: 1 1 10em;
		}

		.panel {
			display: flex;
			flex-direction: column;
			gap: var(--benev-space);

			> hgroup {
				h2 {
					font-size: 3em;
					color: color-mix(in oklch, var(--benev-prime), white);
					text-shadow: 0 0 1em var(--benev-prime);
					a { color: inherit; }
				}
				p {
					font-size: 1.4em;
					color: var(--benev-prime);
					font-weight: bold;
				}
			}

			> div {
				color: var(--benev-intense);
			}

			> ul {
				list-style: none;

				li {
					display: flex;
					align-items: center;
					gap: var(--benev-pad);

					svg {
						width: 1.5em;
						height: 1.5em;
					}
				}
			}
		}

		nav {
			display: flex;
			align-items: end;
			justify-content: end;
			gap: var(--benev-pad);

			a {
				padding: var(--benev-pad) calc(var(--benev-space) * 2);
			}
		}
	}

	.game.nano {
		background: url("/assets/nano.webp") center center / cover;
	}
}

