
@layer app {
	.titlecard {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 clamp(var(--benev-space), 5dvw, 6em);
		margin-bottom: calc(var(--benev-space) * 3);
		gap: var(--benev-pad);

		h1 {
			font-size: 3em;
			color: var(--benev-prime);
			text-shadow: 0 0 1em var(--benev-prime);
			font-weight: normal;
		}

		p {
			font-size: 1.4em;
		}
	}

	.game {
		display: flex;
		flex-wrap: wrap;
		gap: var(--benev-space);

		padding: 2em clamp(var(--benev-space), 5dvw, 6em);

		background: #0004;
		border: var(--benev-border);
		border-radius: var(--benev-round);
		box-shadow: var(--benev-box-shadow);

		> * {
			flex: 1 1 10em;
		}

		.panel {
			display: flex;
			flex-direction: column;
			gap: var(--benev-space);

			> hgroup {
				h2 {
					font-size: 3em;
					color: var(--benev-intense);
					text-shadow: 0 0 1em var(--benev-prime);
				}
				p {
					font-size: 1.4em;
					color: var(--benev-prime);
					font-weight: bold;
				}
			}

			> ul {
				list-style: none;
				color: oklch(from var(--benev-prime) l c h / 50%);

				li {
					display: flex;
					align-items: center;
					gap: var(--benev-pad);

					svg {
						width: 1.5em;
						height: 1.5em;
					}
				}
			}
		}

		nav {
			display: flex;
			align-items: end;
			justify-content: end;
			gap: var(--benev-pad);

			button {
				padding: var(--benev-pad) calc(var(--benev-space) * 2);
			}
		}
	}

	.game.nano {
		background: url("/assets/nano.webp") center center / cover;
	}

	.game.falrysk {
		background:
			linear-gradient(to right, #000c, #0000),
			url("/assets/falrysk.webp") center center / cover;
	}
}

