
@layer app {
	html {
		background:
			radial-gradient(
				circle,
				color-mix(in oklch, transparent 50%, color-mix(
					in oklch,
					var(--benev-bg),
					var(--benev-prime) 10%
				)),
				color-mix(in oklch, transparent 50%, var(--benev-bg))
			),
			url("/assets/bg.webp") center center / cover,
			var(--benev-bg);
	}

	body {
		display: flex;
		flex-direction: column;

		> main {
			flex: 1 1 auto;
		}

		> footer {
			display: flex;
			gap: var(--benev-space);
			justify-content: end;
			padding: var(--benev-space);
			--benev-link: #fffa;
		}
	}
}

