
@layer app {
	html {
		background:
			radial-gradient(
				circle,
				color-mix(in oklch, transparent 50%, color-mix(
					in oklch,
					var(--benev-bg),
					var(--benev-prime) 10%
				)),
				color-mix(in oklch, transparent 50%, var(--benev-bg))
			),
			url("/assets/bg.webp") center center / cover,
			var(--benev-bg);
	}

	body {
		display: flex;
		flex-direction: column;

		> main {
			flex: 1 1 auto;
		}

		> footer {
			display: flex;
			gap: var(--benev-space);
			justify-content: end;
			padding: var(--benev-space);
			--benev-link: #fffa;
		}
	}

	benev-header {
		a {
			position: relative;
			color: var(--benev-prime);
			padding: 0.2em;
			font-size: 1.2em;

			&[data-active] {
				text-shadow: 0 0 0.5em currentColor;

				&::after {
					content: "•";
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					line-height: 0.3em;
					text-align: center;
					text-shadow:
						0 0 0.5em currentColor,
						0 0 0.5em currentColor;
				}
			}
		}
	}
}

