
@layer page {
	:root {
		color-scheme: dark;
	}

	html, body {
		min-height: 100%;
	}

	html {
		font-size: 16px;
		font-family: sans-serif;

		color: color-mix(in lch, transparent, var(--prime) 50%);
		background: var(--bg);
		background: radial-gradient(
			circle,
			color-mix(
				in oklch,
				var(--bg),
				var(--prime) 10%
			),
			#111
		);

		scrollbar-gutter: stable;
		scrollbar-width: thin;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space);
		min-height: 100dvh;

		> * {
			width: 100%;
			max-width: 64em;
		}

		> :is(header, footer) {
			background: color-mix(
				in oklch,
				transparent,
				var(--prime) 5%
			);
			padding: var(--space);
			box-shadow: 0 0.5em 2em #0008;
		}

		> header {
			display: flex;
			border-bottom: 1px solid var(--line);
			gap: var(--space);

			> img {
				height: 4em;
				width: 4em;
			}

			> div {
				display: flex;
				flex-direction: column;
				justify-content: center;

				h1 {
					color: var(--prime);
				}
			}

			> nav {
				display: flex;
				align-items: center;
				gap: var(--space);
				font-size: 1.2em;
				margin-left: auto;

				a {
					position: relative;
					color: var(--prime);
					padding: 0.2em;

					&[data-active] {
						text-shadow: 0 0 0.5em currentColor;

						&::after {
							content: "•";
							display: block;
							position: absolute;
							top: 100%;
							left: 0;
							right: 0;
							line-height: 0.3em;
							text-align: center;
							text-shadow:
								0 0 0.5em currentColor,
								0 0 0.5em currentColor;
						}
					}
				}
			}
		}

		> main {
			flex: 1 0 auto;

			.content {
				padding: var(--pad)
			}
		}

		> footer {
			text-align: right;
			border-top: 1px solid var(--line);
		}
	}
}

