
@layer vars {
	:root {
		--bg: #111;
		--prime: #ebb935;
		--text: color-mix(in oklch, var(--prime), #fff8);
		--intense: white;
		--focus: 2px solid cyan;

		--line: #ebb93588;
		--thin: 1px;
		--thick: 2px;
		--border: var(--thin) solid color-mix(in oklch, transparent, var(--line) 50%);

		--link: aqua;
		--select-bg: #f60;
		--select-color: #ff8;

		--pad: 0.5em;
		--space: 1em;
		--anim: 300ms;
		--round: 0.5em;
		--blur: 0.5em;

		--box-shadow: 0 0.5em 2em #0008;
		--text-shadow: 0.04em 0.08em 0.1em #0008;
	}
}

