
@layer x {
	[x-author] {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--benev-pad);
		width: 100%;

		> img {
			width: 3em;
			height: 3em;
			border-radius: 5em;
			border: 2px solid var(--benev-prime);
		}

		> div {
			> span {
				font-size: 1.2em;
				font-weight: bold;
				color: var(--benev-prime);
			}

			> time {
				opacity: 0.4;
				display: flex;
				flex-direction: column;
				align-items: end;
				margin-left: auto;
				font-size: 0.8em;
			}
		}
	}

	[x-tags] {
		opacity: 0.8;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: calc(var(--benev-pad) / 2);

		> li {
			border-radius: 2em;
			border: var(--benev-border);
			padding: 0.1em 0.4em;
			background: color-mix(in oklch, transparent, var(--benev-bg) 50%);
		}
	}
}

