
@layer x {
	[x-spacious] {
		display: flex;
		flex-direction: column;
		gap: var(--benev-space);

		&::before, &::after {
			content: "";
			flex: 1 1 auto;
		}

		&::after { flex: 3 1 auto; }
	}

	[x-author] {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--benev-pad);
		width: 100%;

		> .avatar {
			width: 3em;
			height: 3em;
			border-radius: 5em;
			border: 2px solid var(--benev-prime);
			overflow: clip;

			&::before {
				content: "";
				width: 100%;
				height: 100%;
				background: var(--benev-prime);
				mask: var(--avatar-url) center / contain no-repeat;
				mask-mode: luminance;
			}
		}

		> div {
			> span {
				font-size: 1.2em;
				font-weight: bold;
				color: var(--benev-prime);
			}

			> time {
				opacity: 0.4;
				display: flex;
				flex-direction: column;
				align-items: end;
				margin-left: auto;
				font-size: 0.8em;
			}
		}
	}

	[x-tags] {
		font-size: 0.8em;
		font-family: monospace;

		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: calc(var(--benev-pad) / 2);

		> li {
			color: oklch(from var(--benev-prime) l c h / 50%);
			border-radius: 2em;
			border: var(--benev-border);
			padding: 0.1em 0.4em;
			background: color-mix(in oklch, transparent, var(--benev-bg) 50%);
			backdrop-filter: blur(0.5em);
			box-shadow: var(--benev-box-shadow);
		}
	}
}

